<div class='container'>

  <div class='profile'>
    <div class='profile__photo'>
      <img src='/assets/images/photo.jpg' />
    </div>

    <div class='profile__name'>Nikolay Ivanov</div>
    <div class='profile__position'>Full-Stack Developer</div>
    <div class='profile__location'><i class='fa fa-map-marker-alt'></i> Tel-Aviv, Israel</div>

    <hr class='profile__separator' />

    <ul class='profile-social'>
      <li><a href='http://github.com/nivans/' target='_blank'><i class='fab fa-linkedin'></i></a></li>
      <li><a href='https://www.linkedin.com/in/nivans/' target='_blank'><i class='fab fa-github-square'></i></a></li>
      <li><a href='https://www.facebook.com/nivans.is' target='_blank'><i class='fab fa-facebook-square'></i></a></li>
      <li><a href='https://www.twitter.com/nivans_is' target='_blank'><i class='fab fa-twitter-square'></i></a></li>
    </ul>

<!--
  </div>

  <div class='content-wrapper'>
      <router-outlet></router-outlet>

      <div class='copyright'>&copy; 2011-2018 Nikolay Ivanov</div>
  </div>

</div>
